<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="context, context-aware, augmented reality, virtual reality, VR, AR, adaptive AR, intelligent interface, mixed reality, mixed methods research, qualitative research, quantitative research, UX, User Experience, Doug Bowman, 3DI Lab, research, researcher, developer, scientist, engineer, data analysis, ML, machine learning, computer vision" />
    <meta name="description" content="I'm Shakiba, a Computer Science Ph.D. student at the 3D Interaction Group at Virginia Tech under the supervision of Doug Bowman. Intelligent Augmented Reality (AR) Interface Design: My research interest lies in connecting my past research experience in applied machine learning (ML) and my current passion for AR interface design. I am a 3D interaction/interface designer, focusing on intelligent AR interfaces. I concentrate on different aspects of detecting AR user's context and utilizing it to adapt their AR interface. Such context-aware interfaces mitigate the existing challenges of AR, such as real-world occlusion and social intrusiveness, while providing more reliable and efficient information access and interaction in AR."/>
    <title>{{dyct['name']}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/jpswalsh/academicons/master/css/academicons.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <noscript>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap"/>
    </noscript>
    <link href="css/font-awesome/css/all.min.css?ver=1.2.1" rel="stylesheet">
    <link href="css/mdb.min.css?ver=1.2.1" rel="stylesheet">
    <link href="css/aos.css?ver=1.2.1" rel="stylesheet">
    <link href="/css/main.css?ver=1.2.1" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
      }
      
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
        opacity: 0.45;
        background-color: #34495e;
        color: white;
      }
      
      #myBtn:hover {
        background-color: black;
        color: white;
      }
      </style>
  </head>
  {#
    https://analytics.google.com/analytics/web/#/p330218338/reports/reportinghub?params=_u..nav%3Dmaui
  #}
    <!-- Google tag (gtag.js) (https://analytics.google.com)-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F7R0M67LLC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-F7R0M67LLC');
    </script>
    <script>
      /*
      printPdf = function (url) {
        var iframe = this._printIframe;
        if (!this._printIframe) {
          iframe = this._printIframe = document.createElement('iframe');
          document.body.appendChild(iframe);

          iframe.style.display = 'none';
          iframe.onload = function() {
            setTimeout(function() {
              iframe.focus();
              iframe.contentWindow.print();
            }, 1);
          };
        }

        iframe.src = url;
      }
      */
    </script>
  <body class="bg-light" id="top" style="background-color: #eef1f8 !important; ">
    <button onclick="goto('/#top')" id="myBtn" title="Go to top">Top</button>
    <header class="d-print-none">
      <!-- ------------------------------------------------This is the main Nav-bar with position: fixed and z-index: 99 to keep the nav bar always on top (both z and y ) of the page  -->
      <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix" style=" position: fixed; z-index: 99; background-color: #eef1f8; color:#34495e; padding-inline: inherit; max-width: 1140px;  width: 100%; padding-right: 8%;" >
           <!--style="max-height: 20vw;
         display: flex;flex-direction: column-reverse;align-content: space-between;justify-content: space-around;align-items: stretch;flex-wrap: wrap;" -->

          <!--<h1 class="site-title mb-0"><a href="/index.html" >{{dyct['name']}}</a> <br>
            {{ "Research"|get_main_url("Info")|safe }} {{ "Industry"|get_main_url("Info")|safe }} {{ "Full"|get_main_url("Info")|safe }}
          </h1> -->
          <div class="site-nav "> 
            <nav role="navigation" style="line-height: .5rem;">
              <ul class="nav" style=" outline-style: double; border-radius: 0.25rem; width: fit-content !important;"> 
                {% if not dyct['show_about'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/" title="About" ><span class="menu-title">About Me</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/" title="About" ><span class="menu-title">About Me</span></a></li>
                {% endif -%}

                {% if dyct['show_about'] or dyct['show_edu'] or dyct['show_service'] or dyct['show_honors'] -%} 

                {% if not dyct['show_about'] and dyct['show_edu'] -%} 
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/#ducation" title="Education"><span class="menu-title">Education</span></a></li>
                {% else -%}         
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="#education" title="Education"><span class="menu-title">Education</span></a></li>
                {% endif -%}

                {% if not dyct['show_about'] and dyct['show_honors'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset; " href="#honors" title="Honors and Awards"><span class="menu-title">Honors and Awards</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="#honors" title="Honors and Awards"><span class="menu-title">Honors and Awards</span></a></li>
                {% endif -%}

                {% if not dyct['show_about'] and dyct['show_service'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="#service" title="Service Activities"><span class="menu-title">Service Activities</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; " href="#service" title="Service Activities"><span class="menu-title">Service Activities</span></a></li>                
                {% endif -%}

                <!--{% if not dyct['show_about'] and dyct['show_personal'] -%} 
                <li class="nav-item"><a class="nav-link" style="border:thin, border-width: 1px; outline-style: inset; border-radius: 0.25rem;" href="#personal" title="Me on a Personal Level"><span class="menu-title">Me on a Personal Level</span></a></li>
                {% else -%}         
                <li class="nav-item"><a class="nav-link" style="border-color:  white;" href="#personal" title="Me on a Personal Level"><span class="menu-title">Me on a Personal Level</span></a></li>
                {% endif -%}-->   
                

                <!------------------------------- @TODO: Once you add the other ul below, this should move there  ----------------------------->
                {% if not dyct['show_proj'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color: white; border-radius: 0.25rem; padding:0 !important;" href="/3dilab" title="Research Projects" target="_blank"><span class="menu-title">Research Projects</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/projects" title="Research Projects"><span class="menu-title">Research Projects</span></a></li>
                {% endif -%}    
                {% if not dyct['show_contact'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color: white; border-radius: 0.25rem; padding:0 !important;" href="#intro" title="Contact" ><span class="menu-title">Contact Me</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="#intro" title="Contact"><span class="menu-title">Contact Me</span></a></li>
                {% endif -%} 
                <!------------------------------- End of what needs to e moved in TODO ----------------------------->
                
              {% endif -%}            
              </ul>  
                <!------------------------------- @TODO: FIX TALKS AND TEACHING EXP AND UNCOMMENT:  -----------------------------
              <br>
              <ul class="nav" style=" outline-style: double; border-radius: 0.25rem; width:inherit !important;" >

                {% if not dyct['show_research'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color: white; border-radius: 0.25rem; padding:0 !important;" href="/projects" title="Research Experience"><span class="menu-title">Research Experience</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/projects" title="Research Experience"><span class="menu-title">Research Experience</span></a></li>
                {% endif -%}

                  
                  {% if not dyct['show_teachingExp'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/teaching" title="Teaching Experience"><span class="menu-title">Teaching Experience</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/teaching" title="Teaching Experience"><span class="menu-title">Teaching Experience</span></a></li>
                {% endif -%} 

                {% if not dyct['show_talks'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/talks" title="Demos and Talks"><span class="menu-title">Demos and Talks</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/talks" title="Demos and Talks"><span class="menu-title">Demos and Talks</span></a></li>
                {% endif -%}

                {% if not dyct['show_pubs'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/publications" title="Publications"><span class="menu-title">Publications</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/publications" title="Publications"><span class="menu-title">Publications</span></a></li>
                {% endif -%}
              </ul>
              ---------------------------------END TODO COMMENT ------------------------------->



              <!--{% if dyct['show_skills'] -%}
              <li class="nav-item"><a class="nav-link" style="border-radius: 0.25rem; padding:0 !important;" href="/skills" title="Skills"><span class="menu-title">Skills</span></a></li>
              {%- endif%}
              <li class="nav-item"><a class="nav-link" style="border-radius: 0.25rem; padding:0 !important;" href="#contactCollapsed" title="Contact"><span class="menu-title">Contact</span></a></li>-->
            </nav>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------This is the end of the Main Nav-bar  -->

      <!-- ------------------------------------------------This is a placeHolder Nav-bar [an exact copied replica of the Main Nav-bar] without position: fixed to make sure nothing is blocked by the main Nav-bar  and with opacity: 0% and with z-index: 0;-->
      <div class="container text-center text-lg-left">
        <div class="pt-4 clearfix" style="opacity: 0% ; z-index: 0; background-color: #eef1f8; color:#34495e; padding-inline: inherit; max-width: 1140px;  width: 100%; padding-right: 8%;" >
           <!--style="max-height: 20vw;
         display: flex;flex-direction: column-reverse;align-content: space-between;justify-content: space-around;align-items: stretch;flex-wrap: wrap;" -->

          <!--<h1 class="site-title mb-0"><a href="/index.html" >{{dyct['name']}}</a> <br>
            {{ "Research"|get_main_url("Info")|safe }} {{ "Industry"|get_main_url("Info")|safe }} {{ "Full"|get_main_url("Info")|safe }}
          </h1> -->
          <div class="site-nav "> 
            <nav role="navigation" style="line-height: .5rem;">
              <ul class="nav" style=" outline-style: double; border-radius: 0.25rem; width: fit-content !important;"> 
                {% if not dyct['show_about'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/" title="About" ><span class="menu-title">About Me</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/" title="About" ><span class="menu-title">About Me</span></a></li>
                {% endif -%}

                {% if dyct['show_about'] or dyct['show_edu'] or dyct['show_service'] or dyct['show_honors'] -%} 

                {% if not dyct['show_about'] and dyct['show_edu'] -%} 
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/education" title="Education"><span class="menu-title">Education</span></a></li>
                {% else -%}         
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/education" title="Education"><span class="menu-title">Education</span></a></li>
                {% endif -%}

                {% if not dyct['show_about'] and dyct['show_service'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/service" title="Service Activities"><span class="menu-title">Service Activities</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; " href="/service" title="Service Activities"><span class="menu-title">Service Activities</span></a></li>                
                {% endif -%}

                {% if not dyct['show_about'] and dyct['show_honors'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset; " href="/honors" title="Honors and Awards"><span class="menu-title">Honors and Awards</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/honors" title="Honors and Awards"><span class="menu-title">Honors and Awards</span></a></li>
                {% endif -%}

                <!--{% if not dyct['show_about'] and dyct['show_personal'] -%} 
                <li class="nav-item"><a class="nav-link" style="border:thin, border-width: 1px; outline-style: inset; border-radius: 0.25rem;" href="/personal" title="Me on a Personal Level"><span class="menu-title">Me on a Personal Level</span></a></li>
                {% else -%}         
                <li class="nav-item"><a class="nav-link" style="border-color:  white;" href="/personal" title="Me on a Personal Level"><span class="menu-title">Me on a Personal Level</span></a></li>
                {% endif -%}-->     
                {% endif -%}            
              </ul>
              <br>
              <ul class="nav" style=" outline-style: double; border-radius: 0.25rem; width:inherit !important;" >

                {% if not dyct['show_research'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color: white; border-radius: 0.25rem; padding:0 !important;" href="/projects" title="Research Experience"><span class="menu-title">Research Experience</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/projects" title="Research Experience"><span class="menu-title">Research Experience</span></a></li>
                {% endif -%}


                {% if not dyct['show_teachingExp'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/teaching" title="Teaching Experience"><span class="menu-title">Teaching Experience</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/teaching" title="Teaching Experience"><span class="menu-title">Teaching Experience</span></a></li>
                {% endif -%}

                {% if not dyct['show_talks'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/talks" title="Demos and Talks"><span class="menu-title">Demos and Talks</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/talks" title="Demos and Talks"><span class="menu-title">Demos and Talks</span></a></li>
                {% endif -%}

                {% if not dyct['show_pubs'] -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important;" href="/publications" title="Publications"><span class="menu-title">Publications</span></a></li>
                {% else -%}
                <li class="nav-item"><a class="nav-link" style="border-color:white; border-radius: 0.25rem; padding:0 !important; outline-style: inset;" href="/publications" title="Publications"><span class="menu-title">Publications</span></a></li>
                {% endif -%}
              </ul>
              <!--{% if dyct['show_skills'] -%}
              <li class="nav-item"><a class="nav-link" style="border-radius: 0.25rem; padding:0 !important;" href="/skills" title="Skills"><span class="menu-title">Skills</span></a></li>
              {%- endif%}
              <li class="nav-item"><a class="nav-link" style="border-radius: 0.25rem; padding:0 !important;" href="#contactCollapsed" title="Contact"><span class="menu-title">Contact</span></a></li>-->
            </nav>
          </div>
        </div>
      </div>
      <!-- ------------------------------------------------This is the end of copied placeHolder Nav-bar  -->
    </header>
    <div class="page-content" style="background-color: #eef1f8;">
      <div class="container">
<div class="resume-container">
  <div class="shadow-1-strong bg-white my-5" id="intro">
    <div class="bg-info text-white">
      <div class="cover bg-image"><img src="images/bg-header.jpg" alt="Header background photo"/>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);backdrop-filter: blur(2px);">
          <div class="text-center p-5" style="padding-top: 10px !important">
            <div class="avatar p-1"><img class="img-thumbnail shadow-2-strong"  style="position: sticky;"src="images/sdavari.jpg" width="160" height="160" alt="My Headshot Photo"/></div>
            <div class="header-bio mt-3">
              <div data-aos="zoom-in" data-aos-delay="0">
                <h2 class="h1">{{dyct['name']}}</h2>
                <p>{{dyct['title']}}: Context-Intelligent Augmented Reality Interface</p>
              </div>
              <div class="header-social mb-3 d-print-none" style="margin-bottom: 0px!important;" data-aos="zoom-in" data-aos-delay="200">
                <nav role="navigation">
                  <ul class="nav justify-content-center">
              {% if 'LINKEDIN' in dyct  %}
              <li>
                  <a class="nav-link" href="/linkedin" title="Linkedin" target="_blank" style="vertical-align:top;">
                    <i class="fab fa-linkedin" title="LinkedIn link"> <div style="font-size: x-small;"> LinkedIn </div></i>
                  </a>
              </li>
              {% endif  %}
               {% if 'SCHOLAR' in dyct  %}
              <li>
                    <a class="nav-link" href="/scholar" title="Google Scholar" target="_blank" style="vertical-align:top;">
                      <i class="ai ai-google-scholar-square" title="Google Scholar Link"><div style="font-size: x-small"> Google Scholar </div></i>
                  </a>
              </li>
              {% endif  %}
              {% if 'MENDELEY_USERNAME' in dyct  %}
              <li>
                    <a class="nav-link" href="/mendeley" title="Mendeley" target="_blank" style="vertical-align:top;">
                      <i class="ai ai-mendeley" title="Mendeley Account"></i>
                  </a>
              </li>
              {% endif  %}
              {% if 'IEEE' in dyct  %}
              <li>
                    <a class="nav-link" href="https://ieee-collabratec.ieee.org/app/p/{{ dyct['IEEE'] }}" title="Docker" target="_blank" style="vertical-align:top;">
                     <i class="ai ai-ieee" title="IEEE Account"></i>
                  </a>
              </li>
              {% endif  %}
              {% if 'ORCID' in dyct  %}
              <li>
                    <a class="nav-link" href="/orcid" title="ORCID" target="_blank"  style="vertical-align:top;">
                      <i class="fab fa-orcid" title="Orcid"> <div style="font-size: x-small"> ORCID </div> </i>
                  </a>
              </li>
              {% endif  %}
              <li>
                    <a class="nav-link" href="/email" title="Email" target="_blank" style="vertical-align:top;">
                      <i class="fas fa-solid fa-feather" title="Email"> <div style="font-size: x-small"> Email me </div></i>
                  </a>
              </li>
                  </ul>
                </nav>
              </div>
              <div class="d-print-none" >
                <a class="btn btn-outline-light shadow-sm mt-1 me-3" style="position: sticky; vertical-align:top;" href="/resume" target="_blank" data-aos="fade-left" data-aos-delay="700"> <i class="fas fa-list" title="Resume">  Resume  </i></a>
                <a class="btn btn-outline-light shadow-sm mt-1 me-3" style="position: sticky; vertical-align:top;" href="/cv" target="_blank" data-aos="fade-up" data-aos-delay="700"><i class="fas fa-book" title="CV"></i>  CV  </a>
                {% if '3DILAB' in dyct  %}
                  <a class="btn btn-outline-light shadow-sm mt-1 me-3" style="position: sticky; vertical-align:top;" href="/3dilab" title="3DI LAB" target="_blank" data-aos="fade-right" data-aos-delay="700"> <img src="https://wordpress.cs.vt.edu/3digroup/wp-content/uploads/sites/141/2020/09/logo1_py_solid.png" width="20" height="18" alt="link to my page on the 3D Interaction Lab's website" /> 3DI Lab </a>
                {% endif  %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if dyct['show_about'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="about" style="margin-bottom: 0% !important;">
    <div class="about-section">
      <div class="row">
          <h2 class="h2 fw-light mb-4">About Me</h2>
          <p> Hi! 
            <br>
            I'm Shakiba, a Computer Science Ph.D. student at the <a href="https://wordpress.cs.vt.edu/3digroup/" target="_blank"> 3D Interaction Group at Virginia Tech </a> under the supervision of  <a href="https://wordpress.cs.vt.edu/3digroup/author/dbowman/" target="_blank"> Doug Bowman.</a> 
            My research interest lies in connecting my past research experience in applied machine learning (ML) and my current passion for AR interfaces. I am a 3D interaction and interface designer, focusing on <a href="/thesis" target="_blank"> intelligent AR interfaces. </a> I concentrate on different aspects of detecting AR user's context and utilizing it to adapt their AR interface. Such context-aware interfaces mitigate the existing challenges of AR, such as real-world occlusion and social intrusiveness, while providing more reliable and efficient information access and interaction in AR.
            <br>
            <br>
            In summer 2022, as a Research Scientist Intern at Adobe, I worked with Jane Hoffswell and Stefano Petrangeli to explore <a href="/adobe" target="_blank"> Context-aware document consumption in AR.</a>
            <br>
            <br>
            I summer 2021, I joined Microsoft as a Research Intern. I enjoyed working with and learning from amazing researchers such as Andrew Begel, Ed Cutrell, Rich Stoakley, and Carmen Badea to explore the applications and benefits of <a href="/microsoft" target="_blank"> vitual monitors for low-vision users. </a>
          </p>
        </div>

    </div>
  </div>
  {% endif  %}

  {% if dyct['show_edu'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="education" style="margin-bottom: 0% !important;">
    <div class="education-section">
      <h2 class="h2 fw-light mb-4">Education</h2>
      <div class="timeline">
        {{
          "Ph.D. Computer Science"|get_base(
          "<a href='https://vt.edu/' target='_blank'>Virginia Tech, USA</a>",
          "Aug. 2018",
          "Present (Expected Jul. 2024)",
          "Specialization: Human Computer Interaction <br>
          Dissertation Topic: Context-aware Inference and Atadptation in Intelligent Augmented Reality Interfaces",
          False)|safe
       }}
       {{
          "M.S. Computer Science"|get_base(
          "<a href='https://vt.edu/' target='_blank'>Virginia Tech, USA</a>",
          "Aug.  2018",
          "Jan. 2020 (Degree Recieved)",
          "Specialization: Human Computer Interaction",
          False,html_id="Grad_MSDegree")|safe
       }}
       {{
          "M.S. Computer Science"|get_base(
          "<a href='https://gatech.edu/' target='_blank'>Georgia Institute of Technology, USA</a>",
          "Aug. 2017",
          "Dec. 2018",
          "Specialization: Computational Perception and Robotics",
          False,html_id="Grad_MSDegree")|safe
       }}
       {{
          "B.S. Computer Engineering"|get_base(
          "<a href='https://en.sbu.ac.ir/' target='_blank'>Shahid Beheshti University, Iran</a>",
          "Aug. 2010",
          "May 2014 (Degree Recieved)",
          "Major: Computer Hardware Engineering",
          False)|safe
       }} 
      </div>
    </div>
  </div>
  {%- endif %}

  {% if dyct['show_pubs'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="publications" style="margin-bottom: 0% !important;">
    <div class="publications-section">
      <h2 class="h2 fw-light mb-4">Publications</h2>
      <div class="timeline">
        <h4 class="h4 fw-light mb-4">Journal Papers</h4>
        {{
          "<b>[1] </b> A taxonomy of AR design dimensions, and exploring the effect of AR content placement on document navigation"|get_base(
          "<a href='https://www.ismar.net/ISMAR/'> IEEE ISMAR</a>",
          "March 2024",
          "<u><i>In-preparation</i></u>",
          "S. Davari, S. Petrangili, J. Hofswell, DA Bowman",color="blue")|safe
        }}
        {{
          "<b>[2] </b> Intelligent AR: A Taxonomy of Context and a Design Framework"|get_base(
          "<a href='https://www.ismar.net/ISMAR/'> IEEE ISMAR</a>",
          "March 2024",
          "<u><i>In-preparation</i></u>",
          "S. Davari, D. Stover, DA Bowman",color="blue")|safe
        }}
        {{
          "<b>[3] </b> <a href='https://www.sciencedirect.com/science/article/pii/S0926580516304046#s0015'> Automated computer vision-based detection of components of under-construction indoor partitions</a>,"|get_base(
          "<a href='https://www.sciencedirect.com/journal/automation-in-construction'> Automation in Construction </a>",
          "2017",
          "<u><i>Vol 74, pp.78-94</i></u>",
          "H. Hamledari, B. McCabe, S. Davari",color="blue")|safe
        }}
        {{
          "<b>[4] </b> <a href='https://doi.org/10.1061/(ASCE)CP.1943-5487.0000660'> Automated Schedule and Progress Updating of IFC-Based 4D BIMs</a>,"|get_base(
          "<a href='https://ascelibrary.org/journal/jccee5'> Journal of Computing in Civil Engineering </a>",
          "2017",
          "<u><i>Vol 31, Issue 4. pp.04017012:1-16</i></u>",
          "H. Hamledari, B. McCabe, S. Davari, A. Shahi",color="blue")|safe
        }}
      </div>

      <div class="timeline" style="padding-top: 25px;">
        <h4 class="h4 fw-light mb-4">Conference Papers</h4>
        {{
          "<b>[5] </b> <a href='http://dx.doi.org/10.1109/VR51125.2022.00063'> Validating the Benefits of Glanceable and Context-Aware Augmented Reality for Everyday Information Access Tasks </a>"|get_base(
          "<a href='https://ieeevr.org/2022/'> IEEEVR</a>",
          "2022",
          "<u><i>pp.436-444</i></u>",
          "S. Davari, F. Lu, and DA. Bowman,",color="yellow")|safe
        }}
        {{
          "<b>[6] </b> <a href='https://dl.acm.org/doi/10.1145/3485279.3485286'>Exploration of Techniques for Rapid Activation of Glanceable Information in Head-Worn Augmented Reality </a>"|get_base(
          "<a href='https://dl.acm.org/doi/proceedings/10.1145/3485279'> Proceedings of the 2021 ACM Symposium on Spatial User Interaction(SUI)</a>",
          "2021",
          "<u><i>11 pages</i></u>",
          "F. Lu, S. Davari, DA Bowman",color="yellow")|safe
        }}
        {{
          "<b>[7] </b> <a href='https://ieeexplore.ieee.org/document/9089433'> Glanceable AR: Evaluating Information Access Methods for Head-Worn Augmented Reality</a>,"|get_base(
          "<a href='https://ieeevr.org/2020/'> IEEEVR</a>",
          "2020",
          "<u><i>pp.930-938</i></u>",
          "F. Lu, S. Davari, L. Lisle, Y. Li and DA. Bowman,",color="yellow")|safe
        }}
        {{
          "<b>[8] </b> <a href='https://ascelibrary.org/doi/abs/10.1061/9780784481264.005'> UAV Mission Planning Using Swarm Intelligence and 4D BIMs in Support of Vision-based Construction Progress Monitoring and As-Built Modeling </a>,"|get_base(
          "<a href='https://ascelibrary.org/doi/book/10.1061/constructionresearchcongress2018'> Construction Research Congress </a>",
          "2018",
          "<u><i>pp. 43-53</i></u>",
          "H. Hamledari, S. Davari, O. Sajedi, P.Zangeneh, B. McCabe, M. Fischer",color="yellow")|safe
        }}
        {{
          "<b>[9] </b> <a href='https://ascelibrary.org/doi/10.1061/9780784481264.033'> UAV-Enabled Site-to-BIM Automation: Aerial Robotic and Computer Vision-based Development of As-Built/As-is BIMs and Quality Control</a>,"|get_base(
          "<a href='https://ascelibrary.org/doi/book/10.1061/constructionresearchcongress2018'> Construction Research Congress </a>",
          "2018",
          "<u><i>pp.336-346</i></u>",
          "H. Hamledari, S. Davari, E. Azar, B.McCabe, F. Flager, M. Fischer",color="yellow")|safe
        }}
        {{
          "<b>[10] </b> <a href='https://www.researchgate.net/publication/318039337_Evaluation_of_Computer_Vision-_and_4D_BIM-Based_Construction_Progress_Tracking_on_a_UAV_Platform'> Evaluation of computer vision-and 4D BIM-based construction progress tracking on a UAV platform</a>,"|get_base(
          "Proc., 6TH CSCE/ASCE/CRC International Construction Specialty Conference",
          "2017",
          "<u><i>pp. CON106:1-10</i></u>",
          "H. Hamledari, B. McCabe, S. Davari, A Shahi, ER Azar, F Flager",color="yellow")|safe
        }}
      </div>  

      <div class="timeline" style="padding-top: 25px;">
        <h4 class="h4 fw-light mb-4"> Other Workshop and Demo Papers </h4>
        {{
          "<b>[11] </b> <a href='https://dx.doi.org/10.1109/VRW55335.2022.00320'> [DC] Context-Aware Inference and Adaptation in AR </a>"|get_base(
          "<a href='https://ieeevr.org/2022/'> IEEEVR </a>",
          "2022",
          "<u><i>pp. 938-939</i></u>",
          "S. Davari")|safe
        }}

        {{
          "<b>[12] </b> <a href='https://ieeexplore.ieee.org/document/9757607'> Clean the Ocean: An Immersive VR Experience Proposing New Modifications to Go-Go and WiM Techniques </a>,"|get_base(
          "<a href='https://ieeevr.org/2022/'> IEEEVR</a>",
          "2022 Winning Team at the 3DI-Contest",
          "<u><i> 2 pages </i></u>",
          "L. Lisle, F. Lu, S. Davari, I. A. Tahmid, A. Giovannelli, C. Ilo, L. Pavanatto, L. Zhang, L. Schlueter, DA. Bowman")|safe
        }}

        {{
          "<b>[13] </b> <a href='https://ieeexplore.ieee.org/document/9419222'> Fantastic Voyage 2021: Using Interactive VR Storytelling to Explain Targeted COVID-19 Vaccine Delivery to Antigen-presenting Cells </a>,"|get_base(
          "<a href='https://ieeevr.org/2022/'> IEEEVR</a>",
          "2021 Winning Team at the 3DI-Contest",
          "<u><i> 2 pages</i></u>",
          "L. Zhang, F. Lu, I. A. Tahmid, S. Davari, L. Lisle, N. Gutkowski, L. Schlueter, DA. Bowman")|safe
        }}


        {{
          "<b>[14] </b> <a href='https://epo4vr.dfki.de/assets/papers/davari2021vrstorytelling.pdf'> Integrating Everyday Proxy Objects in Multi-Sensory Virtual Reality Storytelling </a>,"|get_base(
          "<a href=''> ACM CHI</a>",
          "2021 Workshop on Everyday Proxy Objects for VR",
          "<u><i> 4 pages</i></u>",
          "S. Davari, F. Lu, Y. Li, L. Zhang, L. Lisle, X. Feng, L. Blustein and DA. Bowman")|safe
        }}


        {{
          "<b>[15] </b> <a href='https://dx.doi.org/10.1109/VRW50115.2020.00072'> Occlusion Management Techniques for Everyday Glanceable AR Interfaces </a>,"|get_base(
          "<a href='https://ieeevr.org/2020/'> IEEEVR</a>",
          "2020 Workshop on Everyday VR",
          "<u><i> pp. 324-330</i></u>",
          "S. Davari, F. Lu, and DA. Bowman")|safe
        }}

        {{
          "<b>[16] </b> <a href='https://ieeexplore.ieee.org/document/9090617'> Get the job! An Immersive Simulation of Sensory Overload </a>,"|get_base(
          "<a href='https://ieeevr.org/2020/'> IEEEVR</a>",
          "2020 3DI-Contest",
          "<u><i>pp. 509-510</i></u>",
          "L. Pavanatto, F. Lu, S. Davari, E. Harris, A. Folino, S. Imamov, S. Chekuri, L. Blustein, WS. Lages, DA. Bowman")|safe
        }}
        {{
          "<b>[17] </b> <a href='https://ieeexplore.ieee.org/document/8798051/citations?tabFilter=papers#citations'> Save the Space Elevator: An Escape Room Scenario Involving Passive Haptics in Mixed Reality </a>,"|get_base(
          "<a href='https://ieeevr.org/2019/'> IEEEVR</a>",
          "2019 3DI-Contest",
          "<u><i> pp. 1405-1406</i></u>",
          "S. Davari, Y. Li, L. Lisle, F. Lu, L. Zhang, L. Blustein, X. Feng, B. Gabaldon, M. Kwiatkowski, D. A. Bowman")|safe
        }}

      </div>
    </div>
  </div>
  {%- endif %}
  {% if dyct['show_honors'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="honors" style="margin-bottom: 0% !important;">
    <div class="honors-section">
      <h2 class="h2 fw-light mb-4"> Honors and Awards</h2>
      <div class="timeline">
        {{
            "Invited Talk"|get_base(
            "<a href='https://www.ismar.net/ISMAR/'> ISMAR </a> [IEEE International Symposium on Mixed and Augmented Reality]",
            "<a href='https://www.percxr.com/'> PERCxR </a> [IEEE Workshop on Perceptual and Cognitive Issues in xR]",
            "2022",
            "Topic: Context Aware Inference and Adaptation in Intelligent AR Interfaces"
            , color="blue")|safe
        }}
        {{
            "Winning Team for Best 3D User Interface Design"|get_base(
            "<a href='https://ieeevr.org/'> IEEEVR </a> [IEEE Conference on Virtual Reality and 3D User Interfaces]",
            "3D User Interface Contest",
            "2020 and 2021",
            " <b>Clean the Ocean:</b> An Immersive VR Experience Proposing New Modifications to Go-Go and WiM Techniques<br>
             <b>Fantastic Voyage 2021:</b> Using Interactive VR Storytelling to Explain Targeted COVID-19 Vaccine Delivery to Antigen-Presenting Cells"
            , color="blue")|safe
        }}
       {{
          "Recipient of the Departmental Student Service Award"|get_base(
          "<a href='https://vt.edu'>Virginia Tech </a> ",
          "<a href='https://cs.vt.edu'>Depratment of Computer Science</a>",
          "2020",
          "", color="blue")|safe
        }}
        {{
          "Recipient of the Grace Hopper Celebration of Women in Computing Scholarship" |get_base(
            "<a href='https://vt.edu'>Virginia Tech </a> ",
            "<a href='https://cs.vt.edu'>Depratment of Computer Science</a>",
            "2021 and 2022",
            " ", 
            color="blue")|safe
        }}
        {{
          "Recipient of the Divercity and Inclusion Scholarship "|get_base(
            "<a href='https://ieeevr.org/'>IEEEVR </a> ",
            "",
            "2021",
            " ",
            color="blue")|safe
        }}
        {{
          "Recipient of ACM Capital Region Celebration of Women in Computing Scholarship"|get_base(
          "<a href='https://cs.vt.edu'>Depratment of Computer Science at Virginia Tech</a>",
          "",
          "2020",
          "", color="blue")|safe
        }}
        {{
          "Recipient of Tapia Celebration of Diversity in Computing Scholarship"|get_base(
          "",
          "",
          "",
          "Tapia Foundation - (2020)<br>
          Depratment of Computer Science at Virginia Tech - (2019)<br>
          Georgia Tech - (2017)", color="blue")|safe
        }}
        {{
          "Selected Exceptionally Talented Student in the School of Engineering"|get_base(
          "<a href='https://en.sbu.ac.ir/' target='_blank'> Shahid Beheshti University, Iran</a>",
          "2010",
          "2014",
          "", color="blue")|safe
        }}
        {{
          "Fellowship in Support of Preparation for National University Entrance Exam"|get_base(
          "Ghalamchi Foundation, Iran",
          "2008",
          "2010",
          " ", color="blue")|safe
        }}
        
        {{
          "Fellowship in Support of High School Education"|get_base(
          "Sama Nation-wide Private High School, Iran",
          "2006",
          "2010",
          " ", color="blue")|safe
        }}
        {{
          "Ranked 1st in Nationwide Programming Exam"|get_base(
          "Sama Nation-wide Private High School, Iran",
          "2009",
          "",
          " ", color="blue")|safe
        }}
        {{
          "Ranked 3rd in Nationwide Math Exam"|get_base(
          "Sama Nation-wide Private High School, Iran",
          "2008",
          "",
          " ", color="blue")|safe
        }}

      </div>
    </div>
  </div>
  {%- endif %}
  {% if dyct['show_service'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="service" style="margin-bottom: 0% !important;">
    <div class="service-section">
      <h2 class="h2 fw-light mb-4">Service Activities</h2>
        <div class="timeline">  
        {{
          "Poster Chair"|get_base(
          "<a href='https://sui.acm.org/2024/organization'> SUI </a> [ACM Spatial User Interaction]",
          "",
          "2024",
          "", color="blue")|safe
        }} 
        {{
          "Reviewer"|get_base(
          "",
          "2020",
          "Present",
          "<a href='https://chi2023.acm.org/'> CHI </a> [ACM Conference on Human Factors in Computing Systems] - (2021 and 2023)<br>
          <a href='https://ieeevr.org/'> IEEEVR </a> [IEEE Conference on Virtual Reality and 3D User Interfaces] - (2021 and 2022)<br>
          <a href='https://www.ismar.net/ISMAR/'> ISMAR </a> [IEEE International Symposium on Mixed and Augmented Reality] - (2020 and 2021 and 2022)<br>
          <a href='https://uist.acm.org/'> UIST </a> [ACM Symposium on User Interface Software and Technology] - (2022)<br>
          <b> VSSEF </b> [Virginia State Science and Engineering Fair] - (2020 and 2022) <br>
          <a href='https://www.auto-ui.org/20/'> AutomativeUI </a> [ACM Conference on Automotive User Interfaces and Interactive Vehicular Applications] - (2020)
          ", color="blue")|safe
        }}

        {{
          "Mentoring"|get_base(
            "",
            "","",
            "
            <b>Danny Stover</b> - (2022)<br>
            <b>Alexander Giovennalli</b> - (2021)<br>
            <b>Daniel Manesh</b> - (2021)<br>
           ", color="blue")|safe
        }}
        {{
          "Student Organization Leadership"|get_base(
            "<a href='https://vt.edu/'> Virginia Tech </a>",
            "2018","Present",
            "<b>President: </b> Computer Science Graduate Student Council <a href='https://chi2023.acm.org/'> (CSGC) </a> - (2020)<br>
            <b> Vice President: </b> <a href='https://chi2023.acm.org/'> CSGC </a> -  (2019)<br>
            <b> Vice President: </b> Iranian Society at Virginia Tech -  (2018-2021)<br>
           ", color="blue")|safe
        }}

        {{
          "Community Activity and Memeberships"|get_base(
            "",
            "2018","Present",
            "<b> I-WILL: </b> Inspiring Women in Lifelong Leadership - Virginia Tech <br>
            <b> IranWiC: </b> Iranian Women in Computing - USA <br>
            <b> Young Professionals </b> - IEEE <br>
            <b> Computer Society </b> - IEEE <br>
           ", color="blue")|safe
        }}
        </div>
    </div>
  </div>
  {% endif%}




  {% if dyct['show_research'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="projects" style="margin-bottom: 0% !important;">
    <div class="projects-section">
      <h2 class="h2 fw-light mb-4">Research Experience</h2>
      <div class="timeline">
       
        <!-- ################### For Each Position -->
        <div class="shadow-1-strong bg-white my-5 p-5" id="projects">
          <div class="projects-section">
            <h4 class="h4 fw-light mb-4">Graduate Research Assistant </h4>
              <a href='https://cs.vt.edu/'> Computer Science Department at Virginia Tech </a> - [2018-Present]
            <div class="timeline">
              {{
                  "Conceptual Framework Research Towards Designing Intelligent AR Interfaces"|get_base(
                    "",
                    "","",
                  "I applied a methodical approach based on a) consideration of end goals, features and challenges of AR,
                  and b) in-depth review and analysis of existing AR interfaces, and context frameworks and taxonomies, and : ",color="blue")|safe
              }}
              <div class="timeline" style=" padding-left: 3rem !important;">
                {{
                  "proposed a a methodology for <a href='https://wordpress.cs.vt.edu/3digroup/2020/02/12/ar-interface-classification/' target = '_blank'> classification of AR interfaces </a> and introduce Glanceable AR interfaces according to this classification <a href='/publications' target = '_blank'> <b>[6].</b> </a>"|get_base(
                  "",
                  "",
                  "",
                  "",
                  color="red")|safe
                }}
                {{
                  "designed a <a href='https://wordpress.cs.vt.edu/3digroup/2023/11/07/context-aware-inference-and-adaptation-a-framework-for-designing-intelligent-ar-interfaces' target = '_blank'> framework and architecture </a> for context-aware inference and adaptation in intelligent AR interfaces."|get_base(
                  "",
                  "",
                  "",
                  "",
                  color="red")|safe
                }}
                {{
                  "proposed a <a href='https://wordpress.cs.vt.edu/3digroup/2023/11/07/taxonomy-of-context-for-ar-interfaces/' target = '_blank'> taxonomy of context </a> (i.e., the input to our framework) for AR interface adaptations."|get_base(
                  "",
                  "",
                  "",
                  "",
                  color="red")|safe
                }}
                {{
                  "proposed a <a href='https://wordpress.cs.vt.edu/3digroup/2023/11/07/taxonomy-of-ar-interface-design-dimensions/' target = '_blank'> taxonomy of visual adaptations and interface design dimensions</a> of AR interfaces (i.e., the output of our framework)"|get_base(
                  "",
                  "",
                  "",
                  "",
                  color="red")|safe
                }}
                {{
                  "proposed a framework for the evaluation and comparison of AR input modalities and am applying it in a review paper on natural AR input modalities that I am currently writing."|get_base(
                  "",
                  "",
                  "",
                  "",
                  color="red")|safe
                }}


              </div>
            </div>
          </div>
        </div>
        <!-- ################### End Position -->

      </div>
    </div>
  </div>
  {%- endif %}
  


  {% if dyct['show_teachingExp'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="teaching" style="margin-bottom: 0% !important;">
    <div class="teaching-section">
      <h2 class="h2 fw-light mb-4">Teaching Experience</h2>
      <div class="timeline">
        {{
          "Graduate Teaching Assistant"|get_base(
          "<a href='https://vt.edu/'>Virginia Tech</a>",
          "06/11/2023",
          "Present",
          "Helping the students and procedurally grading the assignments.")|safe
       }}
        {{
          "1/2 Graduate Teaching Assistant"|get_base(
          "<a href='https://vt.edu/'>Virginia Tech</a>",
          "01/01/2023",
          "06/11/2023",
          "Helping the students and procedurally grading the assignments.")|safe
       }}
      
        {{
          "Graduate Teaching Assistant"|get_base(
          "<a href='https://vt.edu/'>Virginia Tech</a>",
          "08/01/2021",
          "05/01/2022",
          "")|safe
       }}
       {{
          "Graduate Research Assistant"|get_base(
          "<a href='https://vt.edu/'>Virginia Tech</a>",
          "01/19/2021",
          "08/01/2021",
          "")|safe
       }}
       {{
          "Graduate Teaching Assistant"|get_base(
          "<a href='https://vt.edu/'>Virginia Tech</a>",
          "08/05/2020",
          "12/20/2020",
          "Helped record videos for the lab lectures.<br><br>Skills: Managing Students, Handling Lectures, Detailing and Recording Labs")|safe
       }}
       {{
          "Graduate Research Asssistant"|get_base(
          "<a href='https://vt.edu/'>Virginia Tech</a>",
          "07/31/2019",
          "07/31/2020",
          "")|safe
       }}
       {{
          "Research Intern"|get_base(
          "<a href=''></a>",
          "05/03/2019",
          "07/31/2019",
          "")|safe
       }}
       {{
          "Graduate Research Assistant"|get_base(
          "<a href='https://vt.edu/'>Virginia Tech</a>",
          "10/01/2018",
          "05/03/2019",
          "")|safe
       }}
      </div>
      </div>
    </div>
  </div>
  {%- endif %}



  {% if dyct['show_talks'] -%}
  <div class="shadow-1-strong bg-white my-5 p-5" id="talks" style="margin-bottom: 0% !important;">
    <div class="talks-section">
      <h2 class="h2 fw-light mb-4">Demos and Talks</h2>
      <div class="timeline">
        {{
          ""|get_base(
          "",
          "2020",
          "Present",
          "",color="blue")|safe
       }}
      </div>
    </div>
  </div>
  {%- endif %}



  {% if False %}
  <!--if dyct['show_about']-->
  <div class="shadow-1-strong bg-white my-5 p-5" id="personal" style="margin-bottom: 0% !important;">
    <div class="personal">
      <h2 class="h2 fw-light mb-4">More about me on a personal level</h2>
    </div>
  </div>

  <!--if dyct['show_skills']-->
  <div class="shadow-1-strong bg-white my-5 p-5" id="skills" style="margin-bottom: 0% !important;">
    <div class="skills-section">
      <h2 class="h2 fw-light mb-4">Technical Skills</h2>
      <div class="row">
        <div class="col-md-6">
          {{'Python3'|get_skill(100)|safe}}
          {{'C#'|get_skill(25)|safe}}
          {{'C++'|get_skill(1)|safe}}
        </div>
      </div>
    </div>
  </div>
  {%- endif %}

<!-- CONTACT 
  <div class="shadow-1-strong bg-white my-5 p-5" id="contact">
    <div class="contant-section">
      <h2 class="h2 fw-light text mb-4">Contact</h2>
      <div class="row mb-4">
        <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
          <div class="mt-1">
            <div class="h6"><i class="far fa-envelope pe-2 text-muted" style="width:24px;opacity:0.85;"></i>
              <a href="mailto:{{dyct['EMAIL']}}">{{dyct['EMAIL']}}</a>
              <br>
              <br>
              <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="frantzme" data-color="#fbfffc" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00" ></script>
              <br>
              <br>
              
              <img src="images/VCard.svg" alt="A QR code that when scanned will generate my contact information"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
<!-- QR CODE Created with the website: https://www.qr-code-generator.com/solutions/vcard-qr-code/-->
</div>
</div>
    </div id="contact">
    <footer class="pt-4 pb-4 text-center d-print-none">
    </div>
      <nav role="navigation">
        <ul class="nav justify-content-center">
    {% if 'LINKEDIN' in dyct  %}
    <li>
        <a class="nav-link" href="/linkedin" title="Linkedin" target="_blank" >
          <i class="fab fa-linkedin" title="LinkedIn link"> <div style="font-size: x-small;"> LinkedIn </div></i>
        </a>
    </li>
    {% endif  %}
     {% if 'SCHOLAR' in dyct  %}
    <li>
          <a class="nav-link" href="/scholar" title="Google Scholar" target="_blank" >
            <i class="ai ai-google-scholar-square" title="Google Scholar Link"><div style="font-size: x-small"> Google Scholar </div></i>
        </a>
    </li>
    {% endif  %}
    {% if 'MENDELEY_USERNAME' in dyct  %}
    <li>
          <a class="nav-link" href="/mendeley" title="Mendeley" target="_blank" >
            <i class="ai ai-mendeley" title="Mendeley Account"></i>
        </a>
    </li>
    {% endif  %}
    {% if 'IEEE' in dyct  %}
    <li>
          <a class="nav-link" href="https://ieee-collabratec.ieee.org/app/p/{{ dyct['IEEE'] }}" title="Docker" target="_blank" >
           <i class="ai ai-ieee" title="IEEE Account"></i>
        </a>
    </li>
    {% endif  %}
    {% if 'ORCID' in dyct  %}
    <li>
          <a class="nav-link" href="/orcid" title="ORCID" target="_blank" >
            <i class="fab fa-orcid" title="Orcid"> <div style="font-size: x-small"> ORCID </div> </i>
        </a>
    </li>
    {% endif  %}
    <li>
          <a class="nav-link" href="/email" title="Email" target="_blank">
            <i class="fas fa-solid fa-feather" title="Email"> <div style="font-size: x-small"> Email me </div></i>
        </a>
    </li>
        </ul>
      </nav>
    </div>
    <div class="d-print-none" >
      <a class="btn btn-outline-light shadow-sm mt-1 me-3" style="position: sticky; margin-block-end:1.8em ;" href="/resume" target="_blank"> <i class="fas fa-list" title="Resume">  Resume  </i></a>
      <a class="btn btn-outline-light shadow-sm mt-1 me-3" style="position: sticky; margin-block-end:1.8em ;" href="/cv" target="_blank"><i class="fas fa-book" title="CV"></i>  CV  </a>
      {% if '3DILAB' in dyct  %}
        <a class="btn btn-outline-light shadow-sm mt-1 me-3" style="position: sticky; margin-block-end:1.8em ;" href="/3dilab" title="3DI LAB" target="_blank"> <img src="https://wordpress.cs.vt.edu/3digroup/wp-content/uploads/sites/141/2020/09/logo1_py_solid.png" width="20" height="18" alt="link to my page on the 3D Interaction Lab's website" /> 3DI Lab </a>
      {% endif  %}
    </div>
    </footer>
    <script src="scripts/mdb.min.js?ver=1.2.1"></script>
    <script src="scripts/aos.js?ver=1.2.1"></script>
    <script src="scripts/main.js?ver=1.2.1"></script>
    <script>
      //Taken From https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        mybutton.style.backgroundColor = "background-color:rgb(57, 100, 234);";
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      // When the user clicks on the button, scroll to the top of the document
      function goto(location) {
        //window.location.href = location;
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
  </body>
</html>
